<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <h1>Contacts</h1>
    {% for contact_item in all_contacts %}
        <div>
            <h2>{{ contact_item.name }}</h2>
            <p>{{ contact_item.description }}</p>
            <img src="{{ contact_item.photo.url }}" alt="{{ contact_item.name }}">
            <p>Phone: {{ contact_item.user.phone_number }}</p>
            <p>Email: {{ contact_item.user.email }}</p>
        </div>
    {% endfor %}
</body>
</html>