<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <meta charset="UTF-8">
    <title>Price list</title>
</head>
<body>

{% for category, product_prices in category_product_prices.items %}
    <center>
        <h1>{{ category }}</h1>
        <table>
            <tr>
                <th>PRODUCT</th>
                {% for product in product_prices.products %}
                <td>{{ product }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>PRICE</th>
                {% for price in product_prices.prices %}
                <td>{{ price }}</td>
                {% endfor %}
            </tr>
        </table>
    </center>
{% endfor %}
</body>
</html>
