{% extends "base.html" %}
{% block title %}Products{% endblock title %}
{% block header %}Products{% endblock header %}

{% block content %}
{% for product in products %}
    <div>
        <a href="{% url 'product' pk=product.id %}" class="button">{{ product.name }}</a>
        <p>price: ${{ product.price }}</p>
        <p>amount: {{ product.amount }}</p>
        <p>producer :{{ product.producer.name }}</p>
        <a href="{% url 'create_order' pk=product.id %}" class="button">Create order</a>
    </div>
{% endfor %}
{% endblock content %}