<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Welcome, {{ user.username }}!</p>
    <p>Email: {{ user.email }}</p>
    <p>Number: {{ user.phone_number }}</p>
    <p>Age: {{ user.age }}</p>

    <h2>Change Phone Number</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
